[defaults]
retry_files_enabled = False

# paths
inventory = inventory.ini
roles_path = roles
log_path = tmp/ansible.log

# Display
deprecation_warnings = True
display_skipped_hosts = False
bin_ansible_callbacks = True

# Facts
fact_caching = jsonfile
fact_caching_connection = tmp/facts.d
gathering = smart

[ssh_connection]
control_path = tmp/ssh-%%h-%%p-%%r
